body,ul,li,p
{
text-decoration: none;
margin: 0px;
padding: 0px;
list-style: none;
font-family: arial;
}
body
{
    background-color: lightcyan;
}

a
{
    text-decoration: none;
}
/*parte de cima somente logo e menu */
.topo
{
    background-color: rgb(226, 240, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu
{
    display: flex;
}
.menu li
{
    margin-left: 5px;
}
.menu li,a
{
    color: rgb(2, 0, 31);
    display: block;
    padding: 10px;
}
.menu:hover li,a
{
    text-decoration: none;
    background-color: rgb(242, 227, 255);
    margin: none;
    padding: 10px;
    color: rgb(23, 0, 49);
}

/* acaba aqui daqui em diante são informações aleatorias que peguei pra não deixar vazio
*/
#top1 iframe
{
    padding: 0 auto;
    flex-wrap: wrap;
    display: block;
    justify-content: space-between;
    max-width: 20%;
    max-height: 20%;
}