body,ul,li,p
{
text-decoration: none;
margin: 0px;
padding: 0px;
list-style: none;
font-family: arial;
}
body
{
    background-color: rgb(220, 252, 244);
}

/*parte de cima somente logo e menu */
.topo
{
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.menu
{
    display: flex;
}
.menu li,a
{ 
    color: rgb(2, 0, 31);
    display: block;
    padding: 05px;
    
}


/* acaba aqui daqui em diante são informações aleatorias que peguei pra não deixar vazio
*/
.top1 iframe
{
    align-items: center;
    flex-wrap: wrap;
    display: block;
    justify-content: space-between;
    max-width: 50%;
    max-height: 50%;
}